.about {
	/* width: 90%; */
	position: relative;
	align-self: center;
	width: 100%;
	padding: 60px;
}
.about > h1 {
	font-weight: 900;
	font-size: 15vw;
	line-height: 14vh;
	word-break: break-all;
	scroll-behavior: smooth;
	color: #fd5351 !important;
	padding-bottom: 6vw;
}
.about > p {
	width: 70%;
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 300;
	padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
	.about {
		width: 100%;
		padding: 15px;
	}
	.about > p {
		font-size: 14px;
		width: 98%;
	}
}
