@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");
* {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: column;
	font-family: "Nunito Sans", sans-serif;
	background-color: black;
	height: 100vh;
	min-height: 100vh;
	width: 100vw;
	color: white;
	overflow: hidden;
}
.app__nav {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 12vh;
	min-height: 11vh;
	max-height: 13vh;
}

.app__nav__image {
	margin-left: 2rem;
}
.app__nav__image img {
	height: auto;
	width: auto;
	max-height: 4vw;
}

.app__header > img {
	height: 2em;
	padding: 2em;
}

.app__router {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 80%;
	min-width: 80%;
}
@media only screen and (max-width: 600px) {
	.app__nav {
		width: 100%;
		font-size: 0.7em;
	}
}

.switch-wrapper {
	position: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.switch-wrapper > div {
	position: flex;
}
